<!--
 * Title: app.component.html
 * Author: Professor Krasso
 * Date: 14 July 2020
 * Modified by: Diandra McKenzie
 * Description: HTML for About Page
-->

<div class="container">

  <br /><br />

    <div class="row">

      <div class="col-sm-12">
        <h3 class="align-center" style="padding-left: 27%;">Robert Glasper</h3>
      </div>

    </div>

    <hr />

    <div class="row">

      <div class="col-sm-6">
        <figure>
        <img src="./assets/RobertGlasper.jpg" alt="image of Robert Glasper"/>
        <figcaption><a href="https://www.okayplayer.com/music/robert-glasper-interview-lauryn-hill.html">https://www.okayplayer.com/music/robert-glasper-interview-lauryn-hill.html</a></figcaption>
      </figure>
      </div>

      <div class="col-sm-6">

        <p>
          Robert Glasper, a Houston, Tx native, is  a  jazz  pianist  with  a  knack  for  mellow,
          harmonically  complex  compositions that  also  reveal  a  subtle  hip-hop  influence.
          Inspired  to  play  piano  by  his  mother,  a gospel  pianist  and  vocalist,  Glasper
          attended  Houston’s  High  School  for  the  Performing  Arts. After  graduation,  he
          studied  music  at  the  New  School  University  in  Manhattan,  where  he  found
          performance  work  with  such  luminaries  as  bassist  Christian  McBride,  saxophonist
          Kenny  Garrett,  and  others. After  graduating  college,  Glasper worked  with  a  variety
          of  artists,  including  trumpeter  Roy Hargrove,  vocalist Carly  Simon,  and  rapper  Mos  Def.
        </p>

      </div>

    </div>

</div>

