<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo"></div>
      <img src="./assets/gpa-calculator-app.png" height="80" />
    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/">Home</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div fxLayout="column" style="text-align: center; width: 50%; margin-left: 25%;">
  <mat-card fxFlex style="margin-top: 10%" class="mat-elevation-z0">

    <mat-card-title>
      <h1>Oops! Something has gone wrong...</h1>
    </mat-card-title>

    <br/>

    <img src="./assets/404 error.jpg" />

    <mat-card-content>
      <h1>404 error. Page Not Found.</h1>
    </mat-card-content>

  </mat-card>
</div>
