
<!-- Address -->
<div fxLayout="row wrap">
  <div fxFlex class="align-center">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content>
      <p>123 Centre Avenue</p>
      <p>Knoxville, Tennessee</p>
    </mat-card-content>
  </div>

  <!-- Phone Numbers -->
  <div fxFlex class="align-center">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content>
      <p>Phone: 555-555-5555</p>
      <p>Email: info@nikki-giovanni.com</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <em style="text-align: center">Find out more at: <a href="https://nikki-giovanni.com/" target="_blank" class="attribution-link">Nikki Giovanni's Official Website</a></em>
</div>
