<!--
 * Title: composer-list.component.html
 * Author: Professor Krasso
 * Date: 14 July 2020
 * Modified by: Diandra McKenzie
 * Description: HTML for Contact Page
-->

<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Contact Info for Robert Glasper</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="fas fa-location-arrow text-secondary"></i><img src="./assets/person_pin_circle-24px.svg" alt="image of person location icon"/></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">101 Central Park South</li>
            <li class="list-group-item border-0">New York, NY 10026</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i><img src="./assets/call-24px.svg" alt="image of phone icon"/></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Direct: 555-123-4567</li>
              <li class="list-group-item border-0">Cell Phone: 555-238-9462</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
