
<!-- Image -->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/NikkiGiovanni-1021x1024.jpg" class="bio-pic"/>
      </div>
      <div>
        <em class="bio-pic">
          Image Source <a class="attribution-link" href="https://ncte.org/blog/2020/06/celebrating-nikki-giovanni/" target="_blank">Celebrating Nikki Giovanni!</a>
        </em>
      </div>
    </div>
  </div>

  <!-- Bio -->
  <div fxFlex>
    <h1 class="blue">The GREAT Nikki Giovanni</h1>
    <p class="bio">
      I was asked to do a biography so this is it. I am 71 years old.
      I highly recommend old age; it’s fun. I have been awarded an unprecedented
      7 NAACP Image Awards which makes me very very proud. I have been nominated
      for a Grammy; been a finalist for the National Book Award. I am very proud
      to have authored 3 New York Times and Los Angeles Times Best Sellers, highly
      unusual for a poet. I am a University Distinguished Professor at Virginia Tech.
      I don’t have a lot of friends but I have good ones. I have a son and a granddaughter.
      My father, mother, sister and middle aunt are all deceased literarily making me
      go from being the baby in the family to being an elder. I like to cook, travel
      and dream. I’m a writer. I’m happy.
    </p>
    <em>Biography Provided by: <a href="https://nikki-giovanni.com/biography/" target="_blank" class="attribution-link">Nikki Giovanni</a></em>
  </div>
</div>
